.App {
  text-align: center;
}

ul {
  list-style: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
input {
  cursor: pointer;
}
.delete {
  color: red;
  cursor: pointer;
}
.doneTodo {
  text-decoration: line-through;
}